*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar ul li a{
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid rgb(191, 102, 0);
    text-align: center;
    color: white;
    font-weight: bold;
}
.navbar ul li a:hover{
    background-color: #f2c100;


}