*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.aside{
    width: 185px;
    background-color: #1F2933;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    padding: 20px 0px;
}
.aside h1{
    color: #FFFFFF;
    font-size: 24px;
}
.navbar ul{
    list-style-type: none;
}
.navbar ul li {
    margin: 15px 0;
}
.navbar ul li a{
    display: block;
    text-decoration: none;
    color: #A9B4C2;
    font-size: 15px;
    padding: 14px 18px;
    letter-spacing: 1px;
}

.navbar ul li a:hover{
    background-color: #2B394A;
}

.content{
    margin-left: 185px;
    padding: 30px;
}
button{
    margin: 0px 5px;
    padding: 12px 15px;
    background-color: red;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: rgb(210, 0, 0);
}

