div{
    margin: 10px;
}
#div1{
    border: 5px dotted black;
    padding: 35px;
    background-image: url('paper.gif');
    background-clip: border-box;
}
#div2{
    border: 5px dotted black;
    padding: 35px;
    background-image: url('paper.gif');
    background-clip: padding-box;
}
#div3{
    border: 5px dotted black;
    padding: 35px;
    background-image: url('paper.gif');
    background-clip: content-box;
}