body{
    background-color: powderblue;
}

h1{
    color: rgb(45, 127, 137);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 300%;
    text-align: center;
}

p {
    color: tomato;
    font-size: 160%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}