*{
    padding: 0px;
    margin: 0px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    background-color: #000000;
    height: 75px;
    color: white;
}

.navbar ul {
    list-style-type: none;
}
.navbar ul li {
    float: left;
}

.navbar ul li a {
    padding: 15px;
    text-decoration: none;
    color: white;
}
.navbar ul li a:hover{
    background-color: rgb(96, 96, 96);
    border-radius: 10px;
}

.header button{
    border-radius: 15px;
    background-color: rgb(99, 193, 161);
    padding: 10px 16px;
    font-weight: bold;
    color: white;
    
}
@media (max-width: 627px) {
    .header{
        flex-direction: column;
        height: 200px;
        padding: 10px;
    }
}