
.first{
    width: 150px;
    height: 150px;
    background-color: red;
    color: white;
    text-align: center;
    align-content: center;
    transition: width 2s, height 4s, background-color 3s;
}
.first:hover{
    width: 300px;
    height: 300px;
    background-color: orange;
}