*{
    box-sizing: border-box;
}

input{
    display: block;
    margin-bottom: 15px;
}

input.first{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-bottom: 2px solid red;
    border-radius: 8px;
}
input.second{
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    border-bottom: 1px solid red;
}
input.bakco{
    width: 100%;
    border-radius: 8px;
    padding: 12px;
    background-color: #3CBC8D;
    color: white;
}
input.focus{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
}

input.focus:focus{
    outline: none;
    background-color: lightblue;
    border: 3px solid #555;
}

input.icon {
    
    padding: 12px;
    background-color: white;
    background-image: url('lupa.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding-left: 40px;
}
