@font-face {
    font-family: snpro;
    src: url('fonts/snpro-variable.woff2');
}
*{
    padding: 0;
    margin: 0;
}

body {
    font-family: snpro;
}

.header {
    display: flex;
    justify-content: space-around;
    height: 75px;
    align-items: center;
}

.navbar ul {
    width: 200px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
}
.hero img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    position: relative;
}
.content-hero{
    color: white;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 2rem;

}
.content-hero h1{
    text-shadow: 2px 6px 10px black;

}