
h1{
    color: white;
    text-shadow: 2px 2px 5px black;
}
h2{
    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}
h3{
    text-shadow: 1px 1px 2px black,0 0 25px blue, 0 0 5px darkblue;
}
h4{
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}