*{
    padding: 0px;
    margin: 0px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: #3f3f3f;
    color: white;
}

.navbar ul{
    list-style-type: none;
}
.navbar ul li{
   float: left;
}
.navbar ul li a {
    padding: 15px;
    color: white;
    text-decoration: none;
}
.navbar ul li a:hover{
    background-color: rgb(120, 124, 125);
    border-radius: 15px;
}
.header button{
    padding: 12px 16px;
    border-radius: 8px;
    background-color: rgb(18, 25, 85);
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.header button:hover{
    background-color: rgb(0, 17, 172);
}
@media (max-width:567px) {
    .header{
        flex-direction: column;
        gap: 10px;
    }
    .header h1{
        margin-bottom: 10px;
    }
    .navbar{
        margin-bottom: 15px;
    }
    .navbar ul li a {
        margin-left: 10px;
        padding: 8px;
        border-radius: 10px;
    }
}
