@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat";
}
body{
    background-color: #000000;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    background-color: #000000;
    margin-bottom: 15px;
    color: rgb(255, 179, 0);
}

.navbar ul {
    list-style-type: none;
}
.navbar ul li {
    float: left;
}
.navbar ul li a {
    padding: 14px;
    margin-right: 10px;
    color: rgb(255, 217, 0);
    text-decoration: none;
}
.navbar ul li a:hover{
    background-color: #1f1f1f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid rgb(255, 213, 0);
}

.header button {
    padding: 15px 18px;
    border-radius: 10px 14px;
    border: none;
    background-color: #ffc800;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}
.header button:hover{
    background-color: #e1b000;
}


.styled-table{
    min-width: 80%;
    overflow: scroll;
    margin: 0px auto;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid black;

}

.styled-table thead{
    background-color: #f8a100;
}
.styled-table thead tr th{
    padding: 15px 17px;
    color: black;
    border-right: 1px solid #00706e;
}
.styled-table tbody tr td{
    padding: 15px 17px;
    background-color: #f1ad03;
    border-right: 1px solid #00706e;
}

@media (max-width:750px) {
    .header{
        flex-direction: column;
        height: 180px;
        gap: 1rem;
    }
    
    .table-responsive{
        overflow-x: auto;
    }
    .styled-table {
        min-width: 700px;
    }
}
