*{
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat",Arial, Helvetica, sans-serif;
}

h1{
    letter-spacing: 5px;
}
h2{
    letter-spacing: -2px;
}

p:first-of-type{
    text-indent: 50px;
    
}

p.small {
    text-align-last:justify;
    line-height: 0.8;
}
p.big {
    text-align: center ;
    line-height: 1.8;
}

p.one {
    word-spacing: 10px;
}

p.two {
    word-spacing: -2px;
}