@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat";
}

body{
    background-color: lightgray;
    color: blue;
}
h1{
    background-color: black;
    color: green;
}
h2{
    background-color: blue;
    color: red;
}