@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato",sans-serif;
}
.header{
    position: relative;
    background-image: url('restaurant.avif');
    background-size: cover;
    background-position: center;
    height: 600px;
}
.header .logo{
   font-weight: 700;
   color: white;
   font-size: 1.2rem;
}
.header::before{
    position: absolute;
    content: "";
    inset: 0;
    background-color: rgba(0, 0, 0, 0.25);
}
.header-content{
  
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 30px 80px;
}
.navbar ul {
    list-style-type: none;
    min-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul li a{
    text-decoration: none;
    color: #E5E7EB;
}
.navbar ul li a:hover{
    color: #38BDF8;
}
.dropdown{
    position: relative;
}
.dropdown-content{
    display: none;
}
.dropdown-content{
    position: absolute;
    min-width: 100px;
    background-color: #0F172A;
    border-radius: 10px;
    box-shadow: 1px 2px 15px 0px black;
}
.dropdown-content a{
    display: block;
    padding: 8px 12px;
    color: white;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.hero{
    position: relative;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero h1 {
    color: #F8FAFC;
}
.hero p{
    color: #94A3B8;
}

