div {
    margin: 15px;
}

.first {
    width: 150px;
    height: 150px;
    background-color: red;
    color: white;
    text-align: center;
    align-content: center;
    transition: width 2s , height 2s, background-color 2s, transform 2s;
    transition-timing-function: ease-in-out;
}

.first:hover {
    width: 300px;
    height: 300px;
    background-color: orange;
}

.second {
    width: 150px;
    height: 150px;
    background-color: red;
    color: white;
    text-align: center;
    align-content: center;
 /*
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
 */
    transition: width 2s linear 1s;
}

/* 

*/

button {
    background-color: lightgray;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 1s ease-out, transform 1s ease-out;
}

button:hover {
    background-color: rgb(66, 73, 66);
    transform: scale(1.1);
}