*{
    padding: 0;
    margin: 0;
}
.container{
    position: relative;
}
.black-box{
    position: relative;
    z-index: 1;
    border: 2px solid black;
    height: 100px;
    margin: 30px;
}
.gray-box{
    position: absolute;
    z-index: 3;
    background-color: lightgray;
    height: 60px;
    width: 70%;
    left: 50px;
    top: 50px;
}
.green-box{
    position: absolute;
    z-index: 2;
    background-color: lightgreen;
    width: 35%;
    left: 270px;
    top: -15px;
    height: 100px;
}