
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
   
}

th, td {
    background-color: #110f03;
     color: rgb(243, 214, 0);
    
   /* border-radius: 10px; */
   border-style: solid;
   border-color: rgb(72, 67, 67);
}