
.flex{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.container{
    width: 200px;
    height: 100px;
    background-color: red;
    border: 1px solid black;
    text-align: center;
}
.scale{
    transform: scale(0.5,0.5);
}
.scale-x{
    transform: scaleX(0.5);
}
.scale-y{
    transform: scaleY(0.5);
}