div{
    margin: 10px 0px;
}
#div1{
    border: 2px solid black;
    padding: 35px;
    background-image: url('img_flwr.gif');
    background-repeat: no-repeat;
    background-origin: padding-box;
}
#div2{
    border: 2px solid black;
    padding: 35px;
    background-image: url('img_flwr.gif');
    background-repeat: no-repeat;
    background-origin: border-box;
}
#div3{
    border: 2px solid black;
    padding: 35px;
    background-image: url('img_flwr.gif');
    background-repeat: no-repeat;
    background-origin: content-box;
}