@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Roboto",sans-serif;
}

.form{
    box-sizing: border-box;
    width: 450px;
    margin: 50px auto;
    height: 430px;
    background-color: #ffffff;
    box-shadow: 1px 2px 8px 0px #ccc;
    border-radius: 12px;
    padding: 32px;
    text-align: center;
}

.main-text h2{
    font-weight: bolder;
    font-size: 1.9rem;
}
.main-text p {
    margin-top: -9px;
    color: #8e8e8e;
    font-size: 0.9rem;
    margin-bottom: 30px;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
input{
    padding: 12px 16px;
    border-radius: 5px;
    border:2px solid #b6b6b6 ;
    outline: none;
}
input:focus{
    border: 2px solid #454545;
    background-color: #c8c8c8;  
}
.remember {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-sign{
    display: block;
    width: 100%;
    padding: 10px 8px;
    border-radius: 8px;
    border: none;
    background-color: rgb(96, 96, 96);
    color: white;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
}
.last-phrase strong{
   color: rgb(60, 58, 58);
}
a{
    text-decoration: none;
    font-weight: 500;
    color: rgb(60, 58, 58);

}