@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat";
}

h1{
    margin-top: 10px;
    text-decoration-line: overline; /* property sets the type of decoration line added to the text. */
    text-decoration-color: red; /*  property is used to set the color of the decoration line. */
    text-decoration-style: solid; /* property is used to set the style of the decoration line. */
    text-decoration-thickness: auto; /* property is used to set the thickness of the decoration line. */
}
h2{
    text-decoration-line: line-through;
    text-decoration-color: blue;
    text-decoration-style: double;
    text-decoration-thickness: 5px;
}
h3{
    
    text-decoration-line: underline;
    text-decoration-color: green;
    text-decoration-style: dotted;
    text-decoration-thickness: 25%;
}
p.ex1{
    margin-top: 10px;
    text-decoration-line: underline;
    text-decoration-color: purple;
    text-decoration-style: dashed;
    text-decoration-thickness: 5px;
}
p.ex2{
    text-decoration-line: underline;
    text-decoration-style: wavy;
}
p.ex3{
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: wavy;

}

/* Shorthand Property */

h4{
    text-decoration: underline;
}

h5{
    text-decoration: underline red;
}

h6{
    text-decoration: underline red double;
}
p.last{
    text-decoration: underline red double 5px;
}
a{
    text-decoration: none;
}