@keyframes myAnimation {
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(300px);
    }
}
@keyframes myAnimationSecond {
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(250px);
    }
}


div{
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 10px;
}
.first{
    animation-name: myAnimation;
    animation-duration: 2s;
    animation-iteration-count: 2;
}
.box{
    animation-name: myAnimationSecond;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
.linear{
    animation-timing-function: linear;
}
.ease{
    animation-timing-function: ease;
}
.ease-in{
    animation-timing-function: ease-in;
}
.ease-out{
    animation-timing-function: ease-out;
}
.ease-in-out{
    animation-timing-function: ease-in-out;
}
.cubic-bezier{
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

