@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Montserrat";
}
.header{
    background: url('restaurant.avif') no-repeat center;
    width: 100%;
    height: 600px;
    color: white;
    position: relative;
}
.header::before{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.header-content{
    z-index: 10;
    position: relative;
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
.header .logo{
    font-size: 1.2rem;
    font-weight: 600;
}
.header .logo:hover{
    color: rgb(227, 174, 0);
    cursor: pointer;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 400px;
    list-style-type: none;
}
.navbar li a{
    text-decoration: none;
    color: white;
}
.navbar li a:hover{
    color: rgb(227, 174, 0);
    border-bottom: 1px solid yellow;
}
.content-dropdown{
    display: none;
    position: absolute;
    width: 80px;
    background-color: black;
    border-radius: 8px ;
    box-shadow: 1px 1px 8px 0px rgb(73, 79, 85);
    
}
.content-dropdown a{
    display: block;
    padding: 10px;
}
.content-dropdown a:hover{
    color: rgb(227, 174, 0);
     border-bottom: 1px solid yellow;
}
.dropdown:hover .content-dropdown{
    display: block;
}
.hero{
    position: relative;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


