* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.aside {
    color: white;
    width: 185px;
    background-color: #1F2933;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 20px 0px;
}

.aside h1 {
    
    font-size: 22px;
    margin-bottom: 30px;
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    margin: 15px 0;
}

.navbar ul li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    transition: 0.3s;
    font-weight: bold;
    padding: 14px 18px;
    letter-spacing: 1px;
}
.navbar a:hover{
    background-color: rgb(222, 141, 10);
}

button{
    padding: 12px 16px;
    border: none;
    font-weight: bolder;
    border-radius: 8px;
    letter-spacing: 1px;
    background-color: red;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: rgb(198, 0, 0);
}

.content{
    margin-left: 185px;
    padding: 30px;
}