@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto",sans-serif;
}

.header{
    box-sizing: border-box;
    background-color: #1F2933;
    width: 185px;
    height: 100vh;
    position: fixed;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.logo{
    letter-spacing: 1px;
    font-weight:600;
    font-size: 1.2rem;
    color: white;
}
.navbar ul{
    padding: 0px;
    list-style-type: none;
}
.navbar ul li {
    margin: 15px 0;
}
.navbar ul li a {
    display: block;
    text-decoration: none;
    padding: 12px 16px;
    color: #A9B4C2;
}
.navbar ul li a:hover{
    background-color: aliceblue;
}
.btn-log-out{
    margin: 0px 10px;
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    background-color: red;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
}
.btn-log-out:hover{
    background-color: rgb(161, 0, 0);
}