@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

.header{
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: #1E3A8A;
}
.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 25px;
}
.navbar ul a {
    text-decoration: none;
    color: white;
    font-weight: 300;
}
.navbar ul a:hover{
    color: #3B82F6;
    border-bottom: 1px solid white;
}
.header button {
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    background-color: #3B82F6;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.header button:hover{
    background-color: #3269c2;
}
.hero {
    position: relative;
}

.hero div{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 2px 4px 6px black;
}
.hero img{
    width: 100%;
    height: 600px;
    object-fit: cover;

}
.table-container {
    overflow-x: auto;
    margin-bottom: 10px;
}
.table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    border-bottom: 3px solid #01987A;
    background-color: #E5E7EB;
    color: #111827;
}

.table thead{
    background-color: #01987A;
    color: white;
}

.table th, .table td{
    text-align: left;
    padding: 15px 17px;
}


.table tbody tr:nth-child(even){
    background-color: #F5F5F5;
}
.table caption{

    caption-side: top;
    padding: 12px;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: left;
}