@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: #0E0E0E;
    font-family: "Montserrat";
}
.form{
    box-sizing: border-box;
    background-color: #232531;
    max-width: 600px;
    max-height: 1200px;
    margin: 0px auto;
    padding: 20px;
}
.main-text{
    margin-top: 30px;
}
.main-text i{
    color: #aaabad;
}
.main-text h2{
    color: #CFCFD1;
    margin-bottom: 40px;
}
.flex{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.label{
    display: block;
    margin-bottom: 8px;
     color: #CFCFD1;
}
input{
    padding: 16px 13px;
    width: 200px;
    background: none;
    border: 1px solid #7a7a7a;
}
input:focus{
    outline: 1.6px solid #4b4b4b;
}
.last-label{
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
     color: #CFCFD1;
}
input.message{
   width: 90%;
   height: 50px;
}
input::placeholder{
    color: #5f5c5f;
}
.zone-check{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 40px;
    margin-top: 5px;
    gap: 10px;
    margin-bottom: 10px;
}
input[type="checkbox"]{
    width: auto;
}
.zone-check label{
     color: #959595;
     font-size: 0.8rem;
}
button[type="submit"]{
    padding: 16px 20px;
    border: none;
    font-size: 1.2rem;
    font-weight: 900px;
    background-color: rgb(211, 211, 211);

}
.learn, .zone-check, button[type="submit"]{
    margin-left: 25px;
}