@font-face {
    font-family: snpro;
    src: url('snpro-variable.woff2');
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: snpro;
}
.header{
    height: 95px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 64px;
    height: 64px;
}
.navbar .list-items {
    list-style: none;
    display: flex;
    gap: 15px;
}
.items{
    text-decoration: none;
    color: orange;
}
.icon-hamburger,
.icon-close{
    display: none;
    width: 32px;
    height: 32px;
}
.navbar.navbar-responsive{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}
.navbar.navbar-responsive .list-items {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    justify-content: flex-start;
    list-style: none;
}

.navbar.navbar-responsive .list-items li{
    display: block;
    width: 100%;  
    padding: 15px;
}
.navbar.navbar-responsive .list-items li a{
    color: white;
    cursor: pointer;
}
.navbar.navbar-responsive .list-items li:hover{
    background-color: orange;
}