@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: "Cascadia Code";
}
body{
    background-color: #0B0F14;
    color: #E6EDF3;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #E6EDF3;
    background-color: #1F2A3A;
    height: 75px;
}
.header h1 {
    color: #FD7C0D;
}
.header h1:hover{
    color: #d96c0c;
    cursor: pointer;
}


.navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar ul li a {
    text-decoration: none;
    color: #E6EDF3;
    letter-spacing: 1px;
}
.navbar ul li a:hover{
    color: #FD7C0D;
    text-shadow: 1px 2px 4px #FD7C0D;
}

.header button {
    padding: 12px 14px;
    border: none;
    border-radius: 8px;
    background-color: #FF7A18;
    letter-spacing: 1px;
    color: #E6EDF3;
}
.header button:hover{
    color: black;
    box-shadow: 1px 3.5px 10px  #E8650E;
    cursor: pointer;
}
.hero {
    position: relative;
}
.hero article {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #E6EDF3;
    text-shadow: 2px 4px 5px #1F2A3A;
}
.hero article:hover{
    color: #FD7C0D;
     text-shadow: 1px 1px 100px #1F2A3A;
}
.hero img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    filter: blur(1px);
}
.table-container{
    overflow-x: auto;
    margin-bottom: 50px;
}
.table {
    width: 85%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #1F2A3A;
}

.table caption{
    caption-side: top;
    padding: 16px;
    text-align: left;
    font-weight: bold;
    font-size: 1.2rem;
    color: #FF7A18;
    width: 120px;
}
.table caption:hover{
    color: #E6EDF3;
}

.table th, .table td{
    padding: 14px 16px;
    text-align: left;
     border-right: 3px solid #2A364A;
}
.table thead {
    background-color: #2E3C55;
}

.table tbody tr:nth-child(even){
    background-color: #263247;
}

.table tbody tr:hover{
    background-color: #2E3C55;
    color: #FD7C0D;
    cursor: pointer;
}

