@keyframes myAnimation {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }

    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }

    75% {
        background-color: green;
        left: 0px;
        top: 200px;
    }

    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}

@keyframes myAnimationTwo {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }

    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }

    75% {
        background-color: green;
        left: 0px;
        top: 200px;
    }

    100% {
        background-color: red;
        left: 0px;
        top: 0px;

    }
}

@keyframes myAnimationThree {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
    25% {
        background-color: blue;
        left: 200px;
        top: 0px;
    }
    50%{
        background-color: green;
        left: 200px;
        top: 200px;
    }
    75%{
        background-color: red;
        left: 0px;
        top: 200px;
    }
    100%{
        background-color: red;
        left: 0px;
        top: 0px;
    }
}

div {
    margin: 10px;
}

.first {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation-name: myAnimation;
    animation-duration: 4s;
    animation-delay: 1s;
    /* 
    animation-iteration-count: infinite;
    */
    animation-timing-function: ease-in;

}

.second {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation-name: myAnimationTwo;
    animation-duration: 4s;
    animation-delay: 2s;
}

.three {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: myAnimationThree;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 3;

}