

.dropdown{
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
}
.dropdown:hover .dropdown-content{ 
    display: block;
}
.desc {
    padding: 15px;
    text-align: center;
}