
 input.ex1{
    border-radius: 10px;
    outline: 2px solid #FEBF00;
    background-color: #e2e2e2;
    outline-offset: 3px;
    padding: 10px 16px;
    transition: 0.25s;
    margin-bottom: 10px;
}
 input.ex1:focus{
    outline-offset: 5px;
    background-color: #fff;
}

input.ex2{
    color: rgb(1, 1, 1);
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    max-width: 190px;
    margin-bottom: 20px;
}
input.ex2:active{
    box-shadow: 2px 2px 15px #8707ff inset;
}

input.ex3{
    border: 2px solid transparent;
    width: 15em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
}

input.ex3:hover,
input.ex3:focus{
    border: 2px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgba(74,157,236,20%);
    background-color: white;
}
