@font-face {
    font-family: snpro;
    src: url('fonts/snpro-variable.woff2');
}
*{
    padding: 0;
    margin: 0;
}

body {
    font-family: snpro;
}

.header {
    display: flex;
    justify-content: space-around;
    height: 75px;
    align-items: center;
}

.navbar ul {
    width: 200px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
}
.hero img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    position: relative;
}
.content-hero{
    color: white;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 2rem;

}
.content-hero h1{
    text-shadow: 2px 6px 10px black;

}
.call-action{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}
.btn-action{
    background-color: black;
    padding: 14px 17px;
    width: 140px;
    color: white;
    border: none;
    border-radius: 2px;
    font-weight: bolder;
    letter-spacing: 1px;
    cursor: pointer;
}
.info-box{
    background-color: black;
    color: white;
    height: 400px;
    text-align: center;
    padding: 30px;
}
.content-info-box{
    display: flex;
    height: 300px;
    align-items: center;
}
.content-info-box i {
    font-size: 30px;
    font-weight: 900;
    height: 70px;
}

.articles{
    min-height: 400px;
    text-align: center;
    padding: 40px;
}
.content-articles{
    display: flex;
    min-height: 400px;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.item-articles{
    width: 400px;
}
.item-articles img{
    width: 100%;
    height: 200px;
    background-size: cover;
}
.footer{
    height: 65px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    
}