.header{
    width: 100%;
    max-height: 150px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 20px;
}
.navbar ul {
    display: flex;
}
.navbar ul li a{
    display: inline;
}
.btn-log-out{
    height: 40px;
}
@media (max-width:565px) {
    .header{
        flex-direction: column;
        padding: 10px 0;
    }
}