@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}
.header{
    background-color: #1F2933;
    width: 185px;
    height: 100vh;
    position: fixed;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.logo{
    letter-spacing: 1px;
    font-weight:600;
    font-size: 1.2rem;
    color: white;
}
.navbar ul{
    list-style-type: none;
}
.navbar ul li {
    margin: 15px 0;
}
.navbar ul li a {
    display: block;
    text-decoration: none;
    padding: 12px 16px;
    color: #A9B4C2;
}

.navbar ul li a:hover{
    background-color: #2B394A;
    color: #E6EDF3;
}
.btn-log-out{
    margin: 0px 15px;
    padding: 14px 17px;
    border: none;
    border-radius: 8px;
    background-color: red;
    font-weight: bold;
    letter-spacing: 1px;
    color: #FFFFFF;
    cursor: pointer;
}
.btn-log-out:hover{
    background-color: rgb(203, 0, 0);
    color: #A9B4C2;
}


.main-content{
    margin-left: 185px;
    padding: 30px;
}