*{
    box-sizing: border-box;
}

input{
    display: block;
    margin-bottom: 15px;
}

input.first{
    background-image: url('lupa.png');
    background-position: 10px 10px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    width: 100%;
    padding: 12px;
    padding-left: 40px;
    margin: 10px 0;
    border-bottom: 2px solid red;
    border-radius: 8px;
}
input.second{
    background-image: url('lupa.png');
    background-position: 10px 10px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding: 12px;
    padding-left: 40px;
    width: 100%;
    border-radius: 8px;
    border-bottom: 1px solid red;
}
input.bakco{
    background-image: url('lupa.png');
    background-position: 10px 10px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 8px;
    padding: 12px;
    padding-left: 40px;
    background-color: #3CBC8D;
    color: white;
}
input.focus{
    background-image: url('lupa.png');
    background-position: 10px 10px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    width: 100%;
    padding: 12px;
    padding-left: 40px;
    border-radius: 8px;
}

input.focus:focus{
    outline: none;
    background-color: lightblue;
    border: 3px solid #555;
}

input.icon {
    
    padding: 12px;
    background-color: white;
    background-image: url('lupa.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding-left: 40px;
    outline: none;
}
input.transition{
    padding: 12px;
    border-radius: 8px;
    border: 3px solid #555;
    transition: width 0.4s ease-in-out;
    background-image: url('lupa.png');
    background-position: 10px 10px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 40px;

}
input.transition:focus{
    width: 100%;
}

textarea{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

select{
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}
input[type=button]{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}