
p::first-letter{
    color: yellow;
    font-size: xx-large;
}

p::first-line{
    color: red;
    font-variant: small-caps;
    font-size: 19px;
}

.first::selection{
    color: red;
    background: yellow;
}