*{
    text-align: center;
    color: blue;
}
p{
    text-align: center;
    color: red;
}

#para1 {
    text-align: center;
    color: green;
}

p.center{
    text-align: center;
    color: black;
}

h1,h2,p {
    text-align: center;
    color: red;
}