
th{
    background-color: #04AA6D;
    color: white;
}

th, td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
tr:hover{
    background-color: coral;
}