@font-face {
    font-family: roboto;
    src: url('roboto-variable.woff2');
}
h2{
    font-size: 1.2rem;
    margin-bottom: 35px;
}
p{
    color: rgb(185, 185, 185);
}

label{
    display: block;
    margin-bottom: 5px;
}
input:focus{
    outline: none;
}
input{
    border: none;
    border-bottom: 2px solid white;
    padding: 20px 5px;
    background: none;
    width: 100%;
    margin-bottom: 25px;
    color: white;
}
textarea{
    width: 100%;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    height: 80px;
    color: white;
    resize: none;
}
.container-principal{
    box-sizing: border-box;
    margin: 0px;
    background-image: url('background-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    object-fit: cover;
    font-family: roboto;
    display: flex;
    min-height: 100vh;
    position: relative;
    justify-content: space-around;
    padding: 100px;
    color: white;
}
.container-principal::before{
    position: absolute;
    content: "";
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
}
.container-one{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-one,.container-two{
    z-index: 1;
}
.form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.input-two{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.btn{
    background-color: rgb(255, 172, 19);
    border-radius: 30px;
    border: none;
    color: white;
    font-weight: bolder;
    letter-spacing: 1px;
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    cursor: pointer;
}
